:host {
  display: block;
  margin: 10px;
}
.my-textarea {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  max-width: 500px;
}

label {
  font-weight: 600;
}
