:host {
  display: block;
  margin: 10px;
}

.my-input {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 200px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

label {
  font-weight: 600;
}
